@font-face {
    font-family: 'header';
    src: url('mainheader/ANGEL.otf');
}

@font-face {
    font-family: 'dayslater';
    src: url('dayslater/dayslater.ttf') format('truetype');
}

@font-face {
    font-family: 'paragraph';
    src: url('paragraph/Montserrat-Regular.ttf') format('truetype');
}