#backmain {
	background-color: #595959;
	width: 75%;
	height: 100vh;
}

#index-header {
	color: white;
	text-align: center;
	font-family: 'header';
	font-size: 6.6em;
}

#dayslat {
  font-family: 'dayslater';
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align:center;
}
#banner {
	width: 100%;
}
#logo {
	float: left;
	position: absolute;
	width: 150px;
	height: 120px;
	padding-top: 0.5%;
}
#paragraph {
	font-family: 'paragraph';
	font-size: 1.3em;
	color: white;
}